@use './design' as *;

//GENERAL
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-xxl;

    margin-top: clamp(3.5rem, 6.107vw + 2.06875rem, 5rem);
    margin-bottom: clamp(2.875rem, 8.652vw + 0.8472rem, 5rem);

    @media (min-width: 768px) {
        margin-top: clamp(5rem, 3.274vw + 3.429rem, 6.375rem);
        margin-bottom: clamp(5rem, 12.352vw - 0.929rem, 10.1875rem);
    }
}

//INTRO
.feature__intro {
    width: clamp(19.75rem, 57vw + 6.39rem, 33.75rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: $space-sm;

    &-1title {
        @include text-preset-2;
    }

    &-2title {
        @include text-preset-1;
    }

    & p {
        @include text-preset-4;
    }
}

//NAVIGATION
.feature__nav {
    display: grid;
    gap: $space-lg;

    @media (min-width: 768px) {
        grid-template-areas: 
        "top top"
        "mid1 mid2"
        "bottom bottom";
    }
    @media (min-width: 1440px) {
        grid-template-areas: 
        "left mid1 right"
        "left mid2 right";
    }
}