@use './design' as *;

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-xxl;
}

.feature__intro {
    width: clamp(19.75rem, 57vw + 6.39rem, 33.75rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: $space-sm;

    & p {
        @include text-preset-4;
    }
}

.feature__intro-1title {
    @include text-preset-2;
}

.feature__intro-2title {
    @include text-preset-1;
}