@use './design' as *;

//GENERAL
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-xxl;

    margin-top: clamp(3.5rem, 6.107vw + 2.06875rem, 5rem);
    margin-bottom: clamp(2.875rem, 8.652vw + 0.8472rem, 5rem);

    @media (min-width: 768px) {
    margin-top: clamp(5rem, 3.274vw + 3.429rem, 6.375rem);
    margin-bottom: clamp(5rem, 12.352vw - 0.929rem, 10.1875rem);

}
}

//INTRO
.feature__intro {
    width: clamp(19.75rem, 57vw + 6.39rem, 33.75rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: $space-sm;

    & p {
        @include text-preset-4;
    }
}

.feature__intro-1title {
    @include text-preset-2;
}

.feature__intro-2title {
    @include text-preset-1;
}

//NAVIGATION
.feature__nav {
    display: grid;
    gap: $space-lg;
}

//CARDS
.feature__card {
    width: clamp(19.625rem, 5.357vw + 17.05rem, 21.875rem);

    display: flex;
    flex-direction: column;
    gap: $space-lg;

    box-shadow: 0px 15px 30px -11px $color-additional;
    -webkit-box-shadow: 0px 15px 30px -11px $color-additional;
    -moz-box-shadow: 0px 15px 30px -11px $color-additional;

    border-top: solid 4px black;
    border-radius: $space-xm;
    padding: $space-lg;

    transition: all 0.3s ease;

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: lighten($color-additional, 28%);
        transform: translateY(-3px)
    }

    &--supervisor {
        border-color: $card-supervisor;
    }
    &--team {
        border-color: $card-team;
    }
    &--karma {
        border-color: $card-karma;
    }
    &--calculator {
        border-color: $card-calculator;
    }
//STILL .feature__card
    &-text h4 {
        @include text-preset-3;
    }
    &-text p {
        @include text-preset-5;
        color: $color-secondary;
    }
    &-icon {
        align-self: flex-end;

        width: 4rem;
        height: 4rem;
    }
}