//-------------GENERAL TYPOGRAPHY
//FAMILY
$primary-family: "Poppins", sans-serif;

//WEIGHT
$extralight: 200;
$regular: 400;
$semibold: 600;

//SIZE
$text-xl: clamp(1.5rem, 3.055vw + 0.784rem, 2.25rem); //36px (destop) 24px (mobile)
$text-lg: 1.25rem;      //20px
$text-md: 0.9375rem;    //15px
$text-sm: 0.8125rem;    //13px
//SIZE-MOBILE
$text-mobile-xl: 1.5rem; //24px

//LINE-HEIGHT
$line-height-lg: 1.6;
$line-height-md: 1.4;
$line-height-sm: 1.35;

//LETTER-SPACING
$letter-default: 0;
$letter-bigger: 0.25px;

//-------------MIXINS
@mixin text-preset-1 (
    $family: $primary-family,
    $weight: $semibold,
    $size: $text-xl,
    $height: $line-height-md,
    $letter: $letter-bigger
) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $letter;
}