//-------------GENERAL TYPOGRAPHY

//FAMILY
$primary-font: "Poppins", sans-serif;

//WEIGHT
$extralight: 200;
$regular: 400;
$semibold: 600;

//SIZE
$text-xl: 2.25rem; //36px
$text-lg: 1.25rem; //20px
$text-md: 0.9375rem; //15px
$text-sm: 0.8125rem; //13px
//SIZE-MOBILE
$text-mobile-xl: 1.5rem; //24px

