//COLORS
$color-primary: #4D4F62;                    //grey-500
$color-secondary: #6A7178;                  //grey-400
$color-additional: rgba(131,166,210,0.5);   //Shadow box, hover effets

$bg-primary: #fff;
$bg-secondary: #fafafa;           //white

$card-supervisor: #44D3D2;   //cyan
$card-team: #EA5454;         //red
$card-karma: #FCAE4A;        //orange
$card-calculator: #549EF2;   //blue

//SPACINGS
$space-xxl: clamp(3.75rem, 9.6354vw, 4.625rem); //60px (mobile) 72px (tablet/desktop)
$space-xl: 2.5rem;       //500-40px
$space-lg: 2rem;         //400-32px
$space-md: 1.5rem;       //300-24px
$space-sm: 1rem;         //200-16px
$space-xm: 0.5rem;       //100-8px
$space-xxm: 0.375rem;    //50-6px