//COLORS
$color-primary: #4D4F62;    //grey-500
$color-secondary: #6A7178;  //grey-400
$bg-primary: #fff;          //white
$card-team: #EA5454;        //red
$card-supevisor: #44D3D2;   //cyan
$card-calculator: #549EF2;  //blue
$card-karma: #FCAE4A;       //orange

//SPACINGS
$space-xl: 2.5rem;  //500-40px
$space-lg: 2rem;    //400-32px
$space-md: 1.5rem;  //300-24px
$space-sm: 1rem;    //200-16px
$space-xm: 0.5rem;  //100-8px